{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      aria-label="Offcanvas navbar large"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="https://svgmix.com/uploads/codicons/77a588-file-code.svg"
            class="text-light"
          />pdf_tollkit</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar2"
          aria-controls="offcanvasNavbar2"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end text-bg-dark"
          tabindex="-1"
          id="offcanvasNavbar2"
          aria-labelledby="offcanvasNavbar2Label"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
              pdf_toolkit
            </h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  merge
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="merge/merge_pdfs"
                      >pdf merge</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="/merge/merge_words"
                      >word merge</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  converter
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/converter/word_to_pdf"
                      >word to pdf</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="/converter/img_to_pdf"
                      >img to pdf</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <div class="d-flex mt-3 mt-lg-0">
              <button class="btn btn-outline-success" type="submit">
                <i class="ri-share-line"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% comment %} hero {% endcomment %}
    <div class="container col-xxl-8 px-3 py-3">
      <div
        class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5"
      >
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="../static/images/img.webp"
            class="d-block mx-lg-auto img-fluid rounded-5"
            alt="Bootstrap Themes"
            width="500"
            height="100"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Responsive left-aligned hero with image
          </h1>
          <p class="lead">
            Quickly design and customize responsive mobile-first sites with
            Bootstrap, the world’s most popular front-end open source toolkit,
            featuring Sass variables and mixins, responsive grid system,
            extensive prebuilt components, and powerful JavaScript plugins.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              Primary
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Default
            </button>
          </div>
        </div>
      </div>
    </div>
    <h1>Every tool you need to work with PDFs in one place</h1>
    <div class="container text-center px-4 py-2" id="featured-3">
      <h2 class="pb-2 border-bottom">Merge PDF/Word File</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 justify-content-evenly">
        <div class="box1 feature col p-5 border border-primary rounded-5">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Merge PDF</h3>
          <p>
            Merging PDFs combines multiple PDF files into a single document
            while preserving their content and structure.
          </p>
          <button>
            <a href="/merge/merge_pdfs" class="text-decoration-none"> view </a>
          </button>
        </div>

        <div class="box1 feature col p-5 border border-primary rounded-5">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-4"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#toggles2"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Merge Word</h3>
          <p>
            Merging Word documents combines multiple Word files into a single
            document, maintaining formatting and content.
          </p>
          <button>
            <a href="/merge/merge_words" class="text-decoration-none"> view </a>
          </button>
        </div>
      </div>
    </div>
    <div class="container text-center px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Convert Image/Word to PDF</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 justify-content-evenly">
        <div class="feature col p-5 border border-primary rounded-5">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#people-circle"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Word to PDF</h3>
          <p>
            Converting Word to PDF transforms a Word document into a PDF format
            while preserving its layout and content.
          </p>
          <button>
            <a href="/converter/word_to_pdf" class="text-decoration-none">
              view
            </a>
          </button>
        </div>
        <div class="feature col p-5 border border-primary rounded-5">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#toggles2"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Image to PDF</h3>
          <p>
            Converting Word to PDF transforms a Word document into a compact,
            shareable PDF file.
          </p>
          <button>
            <a href="/converter/img_to_pdf" class="text-decoration-none">
              view
            </a>
          </button>
        </div>
      </div>
    </div>

    {% comment %} footer {% endcomment %}
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
          >
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary"
            >© 2024 Company, Inc</span
          >
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><i class="ri-linkedin-box-line"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><i class="ri-mail-line"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><i class="ri-instagram-line"></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="#"
              ><i class="ri-github-fill"></i
            ></a>
          </li>
        </ul>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
